<!doctype html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content="Perguntaí"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
  <title>Perguntaí</title>

  <!-- Page styles -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"/>
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link th:href="@{/css/material.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
  <th:block layout:fragment="myCss" />
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <div class="perguntai-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
          <span class="perguntai-title mdl-layout-title">
            <a th:href="@{/index}" class="mdl-navigation__link"> <h4
                class="logo-font logo-font-main">PERGUNTAÍ!</h4> </a>
          </span>
      <!-- Espaço em branco pra alinhar -->
      <div class="perguntai-header-spacer mdl-layout-spacer"></div>
      <!-- Navegação topo -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" th:href="@{/login}">Autenticar</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="perguntai-logo-image" th:src="@{/images/logo.jpeg }"/>
        </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" th:href="@{/login}">Autenticar</a>
    </nav>
  </div>

  <div class="slogan-section mdl-typography--text-center">
    <div class="logo-font pergunta-sub-slogan">
      A UFG dentro da sua casa
    </div>
  </div>
  <div class="perguntai-more-section">

    <div class="mdl-grid">
      <div class="mdl-cell--12-col">
        <form action="/perguntas" method="GET">
          <input type="hidden" name="categoria" th:value="${categoria}"/>
          <input type="hidden" name="page" th:value="${page}"/>
          <input type="text" name="query" class="search-bar" placeholder="Digite sua pesquisa..."/>
        </form>
      </div>
    </div>

    <div layout:fragment="content" class="mdl-layout__content">

    </div>
  </div>
  <footer class="perguntai-footer mdl-mega-footer">

    <div class="mdl-mega-footer--middle-section">
      <p class="mdl-typography--font-light">© Universidade Federal de Goiás - UFG. Todos os
        direitos reservados.</p>
    </div>

  </footer>
</div>

</body>
<script type="text/javascript"
        th:src="@{/js/material.min.js}"/>
<th:block layout:fragment="myScript"/>
</html>
