
body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img {
  border: 0px;
}

::-moz-selection {
  background-color: #337499;
  color: #fff;
}

::selection {
  background-color: #337499;
  color: #fff;
}

input.search-bar{
  border: none;
  padding: 10px;
  height: 20px;
  width: 100%;
  border: 1px solid #efa93f;
  outline: none;
  border-radius: 15px;
}
input.search-bar:hover{
  border-color: #bb652f;
}

input.search-bar:focus{
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
}

input.search-bar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #337499;
  opacity: 1; /* Firefox */
}

input.search-bar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #337499;
}

:input.search-bar:-ms-input-placeholder { /* Microsoft Edge */
  color: #337499;
}

.mdl-layout__drawer-button {
  display: none;
}

.perguntai-mobile-title {
  display: none !important;
}

.perguntai-logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 140px;
}

.perguntai-header {
  background-color: #337499;
  overflow: visible;
  color: white;
}

.perguntai-header .material-icons {
  color: #fff !important;
}

.perguntai-header .mdl-layout__drawer-button {
  background: transparent;
  color: #767777;
}

.perguntai-header .mdl-navigation__link {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.android-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
  width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.android-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 800px;
}

.android-search-box.is-focused + .android-navigation-container {
  opacity: 0;
  width: 100px;
}

.android-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

.android-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #fff;
}

.android-search-box {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 16px;
  margin-right: 16px;
}

.android-more-button {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.perguntai-drawer {
  border-right: none;
}

.perguntai-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.perguntai-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
  color: #757575;
}

.perguntai-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #8bc34a;
}

.perguntai-drawer .mdl-layout-title {
  position: relative;
  background: #337499;
  height: 160px;
}

.perguntai-drawer .perguntai-logo-image {
  margin-bottom: 16px;
}

.slogan-section {
  position: relative;
  width: auto;
  background-color: #f3f3f3;
}

.logo-font-main {
  font-style: italic;
  text-align: center;
}

.logo-font {
  font-family: 'Anton', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #fff;
  font-weight: 500;
}

.perguntai-slogan {
  font-size: 60px;
}

.pergunta-sub-slogan {
  margin-top: 5px;
  background-color: #efa93f;
  color: #fff;
  font-size: 21px;
  padding: 12px;
}

.android-create-character {
  font-size: 21px;
  padding-top: 400px;
}

.android-create-character a {
  text-decoration: none;
  color: #767777;
  font-weight: 300;
}

.android-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.android-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.android-screen {
  text-align: center;
}

.android-screen .perguntai-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.android-image-link {
  text-decoration: none;
}

.android-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

.android-wear .android-screen-image {
  width: 40%;
  z-index: 1;
}

.android-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

.android-phone .android-screen-image {
  width: 100%;
  z-index: 1;
}

.android-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

.android-tablet .android-screen-image {
  width: 100%;
  z-index: 1;
}

.android-tablet .perguntai-link {
  display: block;
  z-index: 2;
}

.android-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

.android-tv .android-screen-image {
  width: 100%;
  z-index: 1;
}

.android-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

.android-auto .android-screen-image {
  display: block;
  height: 300px;
  z-index: 1;
}

.android-wear-section {
  position: relative;
  background: url('images/wear.png') center top no-repeat;
  background-size: cover;
  height: 800px;
}

.android-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.android-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

.android-wear-band-text p {
  padding-top: 8px;
}

.perguntai-link {
  text-decoration: none;
  color: #337499 !important;
}

.perguntai-link:hover {
  color: #2b6499 !important;
}

.perguntai-link .material-icons {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.android-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

.android-alt-link:hover {
  color: #00bfa5 !important;
}

.android-alt-link .material-icons {
  position: relative;
  top: 6px;
}

.android-customized-section {
  text-align: center;
}

.android-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

.android-customized-section-text p {
  padding-top: 16px;
}

.android-customized-section-image {
  background: url('images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.perguntai-more-section {
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

.android-more-section .perguntai-section-title {
  margin-left: 12px;
  padding-bottom: 24px;
}

.perguntai-card-container {
}

.perguntai-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
  max-height: 200px;
}

.perguntai-card-container .mdl-card__media img {
  width: 100%;
}

.perguntai-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.perguntai-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.perguntai-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 56px;
}

.perguntai-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}

.perguntai-card-container .mdl-card__actions a {
  border-top: none;
  font-size: 16px;
}

.perguntai-footer {
  background-color: #fafafa;
  position: relative;
}

.perguntai-footer a:hover {
  color: #8bc34a;
}

.perguntai-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}

.perguntai-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}

.perguntai-footer .mdl-mega-footer--bottom-section {
  position: relative;
}

.perguntai-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

.perguntai-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}

.perguntai-link-menu:hover {
  cursor: pointer;
}

/**** Mobile layout ****/
@media (max-width: 900px) {
  .mdl-layout__drawer-button {
    display: block;
  }

  .android-title {
    width: calc(100% - 42px);
  }

  .android-navigation-container {
    display: none;
  }

  .perguntai-title {
    display: none !important;
  }

  .perguntai-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .android.android-search-box.is-focused ~ .perguntai-mobile-title,
  .android-search-box.is-focused + .android-navigation-container + .perguntai-mobile-title {
    opacity: 0;
  }

  .android-more-button {
    display: none;
  }

  .android-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .android-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .slogan-section {
  }

  .perguntai-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .pergunta-sub-slogan {
    font-size: 16px;
    padding-top: 8px;
  }

  .android-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .android-create-character img {
    height: 12px;
  }

  .android-fab {
    display: none;
  }

  .android-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }

  .perguntai-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}
