<!doctype html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content="Perguntaí"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
  <title>Perguntaí - Login</title>

  <!-- Page styles -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"/>
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link th:href="@{/css/material.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
  <form action="login" method="POST">
    <main class="mdl-layout__content">
      <div class="mdl-card mdl-shadow--6dp">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
          <h2 class="mdl-card__title-text">Perguntaí</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="username" name="username"/>
            <label class="mdl-textfield__label" for="username">Usuário</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" id="password" name="password"/>
            <label class="mdl-textfield__label" for="password">Senha</label>
          </div>

          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Entrar
          </button>
        </div>
      </div>
    </main>
  </form>
</div>

<script type="text/javascript"
        th:src="@{/js/material.min.js}"/>
</body>
</html>