<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
  <title>Home</title>
</head>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->

<div layout:fragment="content" class="mdl-layout__content">


  <div class="perguntai-card-container mdl-grid">
    <th:block th:each="pergunta : ${perguntas}">
      <div
          class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text" th:text="${pergunta.titulo}"></h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead" th:text="${pergunta.pergunta}"></span>
        </div>
        <div class="mdl-card__actions">
          <a class="perguntai-link mdl-button mdl-js-button mdl-typography--text-uppercase"
             th:href="@{/resposta?pergunta=${pergunta.id}}">
            Visualizar Resposta
            <i class="material-icons">chevron_right</i>
          </a>
        </div>
      </div>
    </th:block>
  </div>

</div>

</body>

</html>
